#Content {
    color: white;
    padding: 1%;
}

#Resume {
    border: 4px solid #000000;
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    color: black;
    padding: 4%;
    margin: 5%;
}

hr {
    border: none;
    border-top: 4px solid #000000; /* You can change the color */
    margin: 2% 0;
}

#Resume *:not(div, hr) {
    margin: 1%;
}

.flexbox {
    display: flex;
    justify-content: space-between;
}