#Content {
    color: white;
    padding: 1%;
}

#Resume {
    width: 90%;
}

#ResumeBox {
    border: 4px solid #000000;
    box-shadow: 0 0 5px #000000;
    margin: 2%;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    height: auto;
    aspect-ratio: 8.5 / 11;
    background-color: white;
    color: black;
}

#ResumeMain {
    padding: 2%;
}

hr {
    border: none;
    border-top: 4px solid #000000; /* You can change the color */
    margin: 2% 0;
}

#ResumeMain *:not(div, hr) {
    margin: 1%;
}

.flexbox {
    display: flex;
    justify-content: space-between;
    padding: 0 2% 0 0;
}