#TopBar {
    background-color: #4840d8;
    text-align: center;
    padding: 14px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    width: 100vw;
    top: 0;
    z-index: 1;
}

#NameLogo {
    font-size: 40px;
    color: white;
    text-align: center;
    padding: 14px;
    display: flex;
    justify-content: center;
    width: 50vw;
    top: 0;
    z-index: 1;
}

.subpagebutton {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20%;
    border: 5px solid #333;
}