#Home {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
  align-items: center;
  justify-content: center;
}

#TestScreen {
  position: relative;
  width: 80%;
  height: 50vw;
}

#Testgrid {
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(18, 1fr);
  margin: 20px;
  border: 5px solid #000000;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.test {
  width: 100%;
  height: 100%;
}